In [1]:
import numpy as np 
import pandas as pd
import time, warnings
import datetime as dt

In [4]:
import matplotlib.pyplot as plt

In [5]:
from pandas.plotting import scatter_matrix
%matplotlib inline
import seaborn as sns

In [7]:
warnings.filterwarnings("ignore")

In [7]:
#load the dataset
clv_df = pd.read_csv('D:/clvdata_test.csv',sep=',')
clv_df.head()

,ISDN,ACTIVE_DATETIME,SUB_TYPE,DELETE_DATETIME,LOS,VOICE_OUT_ON_COUNT,VOICE_OUT_OFF_COUNT,VOICE_IN_ON_COUNT,VOICE_IN_OFF_COUNT,VOICE_OUT_ON,...,DATE_ON_COUNT,DATA_DURATION,MONTH_DATA,CHURN,USED_MONTH,REVENUE_MAIN_VOICE,REVENUE_MAIN_SMS,TREN KENH,SIM_RAC,GROUP_SUB_TYPE
0,1205546,12/26/2016,ZPP,11/25/2018,9,3415,220,290,7229,628355,...,17,204510824,12,1,6,982108,14550577,0,0,ZPP
1,1219632,4/29/2014,MQ,10/2/2018,16,1851,581,4506,6647,187067,...,2,190005612,12,1,9,793711,9491128,0,1,MQ
2,1203363,6/26/2013,MQ,2/3/2019,88,1179,160,9361,5593,119616,...,15,58096902,12,1,11,1606044,14411727,1,1,MQ
3,1204104,5/17/2014,ZPP,10/31/2018,25,1450,3492,6731,2464,415575,...,9,3111641,12,1,4,869894,11735815,1,0,ZPP
4,1222258,8/22/2013,SP,11/10/2018,13,3283,3409,9790,3317,858290,...,22,91570884,12,1,12,704042,11842331,0,1,SP

In [13]:
clv_df_new=clv_df[['ISDN', 'LOS','DATA_DURATION','REVENUE_BONUS','VOICE_OUT_ON','VOICE_OUT_OFF','VOICE_OUT_ON_COUNT','VOICE_OUT_OFF_COUNT','VOICE_IN_ON','VOICE_IN_OFF','VOICE_IN_ON_COUNT','VOICE_IN_OFF_COUNT','DATE_COUNT','REVENUE_MAIN','SMO_OUT_ON','SMO_OUT_OFF','REVENUE_TOPUP','CHURN']]

In [14]:
clv_df_new.head()

,ISDN,LOS,DATA_DURATION,REVENUE_BONUS,VOICE_OUT_ON,VOICE_OUT_OFF,VOICE_OUT_ON_COUNT,VOICE_OUT_OFF_COUNT,VOICE_IN_ON,VOICE_IN_OFF,VOICE_IN_ON_COUNT,VOICE_IN_OFF_COUNT,DATE_COUNT,REVENUE_MAIN,SMO_OUT_ON,SMO_OUT_OFF,REVENUE_TOPUP,CHURN
0,1205546,9,204510824,1913592,628355,11908,3415,220,677502,7344,290,7229,25,835559,23527,72550,7645693,1
1,1219632,16,190005612,1615257,187067,151897,1851,581,173634,104535,4506,6647,14,8133748,20135,12828,5037876,1
2,1203363,88,58096902,1568755,119616,211518,1179,160,945122,163698,9361,5593,6,10709408,49460,185162,6737435,1
3,1204104,25,3111641,2965130,415575,100996,1450,3492,200774,14256,6731,2464,7,2339561,44074,61167,9779227,1
4,1222258,13,91570884,3204525,858290,212918,3283,3409,403130,74005,9790,3317,20,13364953,6618,157832,10329859,1

In [16]:
from lifelines import CoxPHFitter
cph = CoxPHFitter()
cph.fit(clv_df_new, duration_col='LOS', event_col='CHURN', show_progress=True)

Iteration 1: norm_delta = 0.69729, step_size = 0.95000, ll = -673.56819, seconds_since_start = 0.0
Iteration 2: norm_delta = 0.06063, step_size = 0.95000, ll = -650.41865, seconds_since_start = 0.1
Iteration 3: norm_delta = 0.00263, step_size = 0.95000, ll = -650.14579, seconds_since_start = 0.1
Iteration 4: norm_delta = 0.00013, step_size = 0.95000, ll = -650.14526, seconds_since_start = 0.1
Iteration 5: norm_delta = 0.00001, step_size = 0.95000, ll = -650.14526, seconds_since_start = 0.1
Convergence completed after 5 iterations.

In [17]:
cph.baseline_hazard_

          baseline hazard
event_at
0.0              0.000000
6.0              0.000000
7.0              0.002676
8.0              0.002736
9.0              0.005519
10.0             0.005569
11.0             0.000000
12.0             0.000000
13.0             0.002840
14.0             0.002850
15.0             0.005788
16.0             0.014747
17.0             0.003106
18.0             0.003151
19.0             0.009579
20.0             0.006714
21.0             0.010424
22.0             0.003573
23.0             0.007259
24.0             0.007463
25.0             0.007864
26.0             0.012052
27.0             0.004096
28.0             0.012315
29.0             0.008620
30.0             0.000000
31.0             0.004476
32.0             0.009081
33.0             0.004614
34.0             0.009381
...                   ...
118.0            0.154214
119.0            0.111028
120.0            0.040718
121.0            0.000000
122.0            0.000000
123.0            0.047399
124.0            0.000000
125.0            0.052094
126.0            0.000000
130.0            0.000000
131.0            0.062628
135.0            0.204765
139.0            0.077781
140.0            0.000000
141.0            0.097725
142.0            0.000000
143.0            0.131052
144.0            0.145055
146.0            0.000000
148.0            0.000000
156.0            0.179332
157.0            0.202236
160.0            0.219149
161.0            0.000000
165.0            0.295482
174.0            0.000000
176.0            0.556713
180.0            0.738247
219.0            1.325242
234.0            3.110577

[124 rows x 1 columns]

In [18]:
clv_df['USED_MONTH']

0       6
1       9
2      11
3       4
4      12
5       7
6       8
7      10
8       3
9       7
10     10
11      4
12      9
13      4
14     12
15      9
16      4
17     12
18      9
19      7
20      5
21      8
22      5
23      8
24      3
25      8
26      9
27      7
28      3
29      9
       ..
269     8
270     6
271     7
272     4
273    11
274    11
275    11
276     5
277     5
278     9
279     6
280     9
281     5
282    11
283     4
284     4
285    12
286     7
287     9
288     4
289     7
290     3
291     4
292     3
293     8
294    11
295     7
296    12
297     5
298    12
Name: USED_MONTH, Length: 299, dtype: int64

In [19]:
clv_df['LOS']

0        9
1       16
2       88
3       25
4       13
5       19
6       71
7       88
8       19
9       18
10      17
11       7
12      32
13      24
14     116
15      58
16      46
17      21
18     116
19      90
20     105
21     141
22      14
23     174
24      58
25      95
26      59
27      30
28      24
29      58
      ...
269    144
270     22
271     36
272     33
273     12
274     26
275     14
276     61
277    123
278     28
279     23
280     39
281     58
282     88
283     64
284     84
285     32
286     72
287      8
288     36
289     19
290     41
291     47
292    106
293      8
294    105
295     19
296    104
297     16
298     24
Name: LOS, Length: 299, dtype: int64

In [20]:
clv_df['SUM_P'] = 0

In [21]:
clv_df['SUM_P']

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
269    0
270    0
271    0
272    0
273    0
274    0
275    0
276    0
277    0
278    0
279    0
280    0
281    0
282    0
283    0
284    0
285    0
286    0
287    0
288    0
289    0
290    0
291    0
292    0
293    0
294    0
295    0
296    0
297    0
298    0
Name: SUM_P, Length: 299, dtype: int64

In [22]:
cph.baseline_hazard_

          baseline hazard
event_at
0.0              0.000000
6.0              0.000000
7.0              0.002676
8.0              0.002736
9.0              0.005519
10.0             0.005569
11.0             0.000000
12.0             0.000000
13.0             0.002840
14.0             0.002850
15.0             0.005788
16.0             0.014747
17.0             0.003106
18.0             0.003151
19.0             0.009579
20.0             0.006714
21.0             0.010424
22.0             0.003573
23.0             0.007259
24.0             0.007463
25.0             0.007864
26.0             0.012052
27.0             0.004096
28.0             0.012315
29.0             0.008620
30.0             0.000000
31.0             0.004476
32.0             0.009081
33.0             0.004614
34.0             0.009381
...                   ...
118.0            0.154214
119.0            0.111028
120.0            0.040718
121.0            0.000000
122.0            0.000000
123.0            0.047399
124.0            0.000000
125.0            0.052094
126.0            0.000000
130.0            0.000000
131.0            0.062628
135.0            0.204765
139.0            0.077781
140.0            0.000000
141.0            0.097725
142.0            0.000000
143.0            0.131052
144.0            0.145055
146.0            0.000000
148.0            0.000000
156.0            0.179332
157.0            0.202236
160.0            0.219149
161.0            0.000000
165.0            0.295482
174.0            0.000000
176.0            0.556713
180.0            0.738247
219.0            1.325242
234.0            3.110577

[124 rows x 1 columns]

In [23]:
type(cph.baseline_hazard_)

pandas.core.frame.DataFrame

In [24]:
type(clv_df)

pandas.core.frame.DataFrame

In [2]:
df['y'] = 0
df.loc[df['x'] < -2, 'y'] = 1
df.loc[df['x'] > 2, 'y'] = -1
#   print "2 - Got a true expression value"
#   print var
#elif var == 100:
#   print "3 - Got a true expression value"
#   print var
#else:
#   print "4 - Got a false expression value"
#   print var

NameError: name 'df' is not defined

In [27]:
if clv_df['USED_MONTH'] == 1:
    clv_df['SUM_P'] = 0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [3]:
df = pd.DataFrame({'x':[0,-3,5,-1,1]})

In [4]:
df
df['y']=0
df.y[df.x <-2] = 1
df.y[df.x > 2] = 1
df

   x  y
0  0  0
1 -3  1
2  5  1
3 -1  0
4  1  0

In [5]:
df['y'] = 0
df.loc[df['x'] < -2, 'y'] = 1
df.loc[df['x'] > 2, 'y'] = -1

In [6]:
df

   x  y
0  0  0
1 -3  1
2  5 -1
3 -1  0
4  1  0

In [38]:
clv_df['SUM_P']

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
269    0
270    0
271    0
272    0
273    0
274    0
275    0
276    0
277    0
278    0
279    0
280    0
281    0
282    0
283    0
284    0
285    0
286    0
287    0
288    0
289    0
290    0
291    0
292    0
293    0
294    0
295    0
296    0
297    0
298    0
Name: SUM_P, Length: 299, dtype: int64

In [9]:
clv_df.loc[clv_df['USED_MONTH'] == 1, ['SUM_P']] = 0

KeyError: "['SUM_P'] not in index"

In [41]:
clv_df.loc[clv_df['USED_MONTH'] == 2, ['SUM_P']] = 0

In [42]:
clv_df.loc[clv_df['USED_MONTH'] == 3, ['SUM_P']] = 0

In [43]:
clv_df.loc[clv_df['USED_MONTH'] == 4, ['SUM_P']] = 0

In [44]:
clv_df.loc[clv_df['USED_MONTH'] == 5, ['SUM_P']] = 0

In [45]:
clv_df.loc[clv_df['USED_MONTH'] == 6, ['SUM_P']] = 0

In [47]:
clv_df.loc[clv_df['USED_MONTH'] == 7, ['SUM_P']] = 0.002676/(1+0.085)**6

In [48]:
clv_df.loc[clv_df['USED_MONTH'] == 8, ['SUM_P']] = (0.002676/(1+0.085)**6)+(0.002736/(1+0.085)**7)

In [49]:
clv_df.loc[clv_df['USED_MONTH'] == 9, ['SUM_P']] = (0.002676/(1+0.085)**6)+(0.002736/(1+0.085)**7)+(0.005519/(1+0.085)**8)

In [50]:
clv_df.loc[clv_df['USED_MONTH'] == 10, ['SUM_P']] = (0.002676/(1+0.085)**6)+(0.002736/(1+0.085)**7)+(0.005519/(1+0.085)**8)+(0.005569/(1+0.085)**9)

In [ ]:
clv_df.loc[clv_df['USED_MONTH'] == 11, ['SUM_P']] = (0.002676/(1+0.085)**6)+(0.002736/(1+0.085)**7)+(0.005519/(1+0.085)**8)+(0.005569/(1+0.085)**9)+(0.005569/(1+0.085)**9)