In [38]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [39]:
import re
import numpy as np
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [40]:
# Figures inline and set visualization style
%matplotlib inline
sns.set()

In [41]:
loan_data = pd.read_csv("D:/LoanData/loandata_Nigera_New.csv")
loan_data.columns

Index(['Unnamed: 0', 'ID', 'Months_in_contract', 'Store ', 'Renewal_count',
       'Activation_date', 'Last_renewal_date', 'Approved Date', 'Activator',
       'Activation Type', 'Activation_DD', 'Activation_month',
       'Activation_year', 'Activation_weekday', 'Last_renewal_DD',
       'Last_renewal_month', 'Last_renewal_year', 'Last_renewal_weekday',
       'Approved_DD', 'Approved_month', 'Approved_year', 'Approved_weekday'],
      dtype='object')

In [42]:
loan_data = loan_data.rename(columns={'Store ': 'Store'})
loan_data.columns

Index(['Unnamed: 0', 'ID', 'Months_in_contract', 'Store', 'Renewal_count',
       'Activation_date', 'Last_renewal_date', 'Approved Date', 'Activator',
       'Activation Type', 'Activation_DD', 'Activation_month',
       'Activation_year', 'Activation_weekday', 'Last_renewal_DD',
       'Last_renewal_month', 'Last_renewal_year', 'Last_renewal_weekday',
       'Approved_DD', 'Approved_month', 'Approved_year', 'Approved_weekday'],
      dtype='object')

In [43]:
loan_data = loan_data.rename(columns={'Activation Type': 'Activation_Type'})
loan_data.columns

Index(['Unnamed: 0', 'ID', 'Months_in_contract', 'Store', 'Renewal_count',
       'Activation_date', 'Last_renewal_date', 'Approved Date', 'Activator',
       'Activation_Type', 'Activation_DD', 'Activation_month',
       'Activation_year', 'Activation_weekday', 'Last_renewal_DD',
       'Last_renewal_month', 'Last_renewal_year', 'Last_renewal_weekday',
       'Approved_DD', 'Approved_month', 'Approved_year', 'Approved_weekday'],
      dtype='object')

In [44]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Activation_year,Activation_weekday,Last_renewal_DD,Last_renewal_month,Last_renewal_year,Last_renewal_weekday,Approved_DD,Approved_month,Approved_year,Approved_weekday
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,6/23/2017 10:23,8/1/2017 11:09,6/23/2017 9:47,ADEH,Existing,...,2017,4,1,8,2017,1,23,6,2017,4
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,8/1/2017 12:28,8/1/2017 12:28,8/1/2017 11:01,DAUM,New,...,2017,1,1,8,2017,1,1,8,2017,1
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,8/1/2017 14:14,8/1/2017 14:14,8/1/2017 13:06,NNOD,New,...,2017,1,1,8,2017,1,1,8,2017,1
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,8/1/2017 14:34,8/1/2017 14:34,8/1/2017 14:11,DAUG,Existing,...,2017,1,1,8,2017,1,1,8,2017,1
4,4,3.521141e+14,6,AI UYO,1,6/29/2017 9:38,8/1/2017 17:09,6/29/2017 9:06,JOUD,New,...,2017,3,1,8,2017,1,29,6,2017,3

In [45]:
loan_data.describe()

,Unnamed: 0,ID,Months_in_contract,Renewal_count,Activation_DD,Activation_month,Activation_year,Activation_weekday,Last_renewal_DD,Last_renewal_month,Last_renewal_year,Last_renewal_weekday,Approved_DD,Approved_month,Approved_year,Approved_weekday
count,4436.000000,4.435000e+03,4436.000000,4436.000000,4436.000000,4436.000000,4436.000000,4436.000000,4436.000000,4436.000000,4436.000000,4436.000000,4436.000000,4436.000000,4436.000000,4436.000000
mean,2217.500000,3.528286e+14,6.744139,4.516456,16.320559,5.815374,2016.995041,2.177412,15.927187,7.417042,2017.296889,2.800721,16.351894,5.798242,2016.993463,2.080929
std,1280.707226,4.758599e+13,2.154181,2.750824,8.666281,2.157277,0.079302,1.414483,8.653202,4.712871,0.457925,1.903882,8.610548,2.162946,0.088595,1.384888
min,0.000000,3.521141e+14,0.000000,0.000000,1.000000,1.000000,2016.000000,0.000000,1.000000,1.000000,2016.000000,0.000000,1.000000,1.000000,2016.000000,0.000000
25%,1108.750000,3.521141e+14,5.000000,2.000000,9.000000,5.000000,2017.000000,1.000000,9.000000,1.000000,2017.000000,1.000000,9.000000,5.000000,2017.000000,1.000000
50%,2217.500000,3.521141e+14,7.000000,5.000000,17.000000,6.000000,2017.000000,2.000000,16.000000,9.000000,2017.000000,3.000000,17.000000,6.000000,2017.000000,2.000000
75%,3326.250000,3.521141e+14,8.000000,7.000000,24.000000,7.000000,2017.000000,3.000000,23.000000,12.000000,2018.000000,4.000000,23.000000,7.000000,2017.000000,3.000000
max,4435.000000,3.521141e+15,13.000000,11.000000,31.000000,12.000000,2018.000000,6.000000,31.000000,12.000000,2018.000000,6.000000,31.000000,12.000000,2018.000000,5.000000

In [46]:
loan_data['Activation_date'] = pd.to_datetime(loan_data['Activation_date'])

In [47]:
loan_data['Last_renewal_date'] = pd.to_datetime(loan_data['Last_renewal_date'])

In [48]:
loan_data['Difference'] = loan_data['Last_renewal_date'] - loan_data['Activation_date']

In [49]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Activation_weekday,Last_renewal_DD,Last_renewal_month,Last_renewal_year,Last_renewal_weekday,Approved_DD,Approved_month,Approved_year,Approved_weekday,Difference
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,4,1,8,2017,1,23,6,2017,4,39 days 00:46:00
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,1,1,8,2017,1,1,8,2017,1,0 days 00:00:00
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,1,1,8,2017,1,1,8,2017,1,0 days 00:00:00
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,1,1,8,2017,1,1,8,2017,1,0 days 00:00:00
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,3,1,8,2017,1,29,6,2017,3,33 days 07:31:00

In [50]:
loan_data['Activation_Type'=='Existing  ']= 'Existing'
loan_data['Activation_Type'=='New  ']= 'New'

In [51]:
loan_data['Activation_date_New'] = loan_data['Activation_date'].dt.date

In [52]:
loan_data['Last_renewal_date_New'] = loan_data['Last_renewal_date'].dt.date

In [55]:
loan_data['Difference_New'] = loan_data['Last_renewal_date_New'] - loan_data['Activation_date_New']

In [56]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Last_renewal_weekday,Approved_DD,Approved_month,Approved_year,Approved_weekday,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,1,23,6,2017,4,39 days 00:46:00,New,2017-06-23,2017-08-01,39 days
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,1,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,1,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,1,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,1,29,6,2017,3,33 days 07:31:00,New,2017-06-29,2017-08-01,33 days

In [57]:
loan_data['Difference_New'].dtype

dtype('<m8[ns]')

### Different_New is the difference between (Last Renewal Date and Activation Date)

In [58]:
loan_data['Approved_month'].dtype

dtype('int64')

In [24]:
loan_data['Expire_date_New'] = loan_data['Activation_date_New'].apply(lambda x: x + pd.DateOffset(years=1))

### Expire_date_New is the new expire date takes activation date and add a year time.

In [25]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Approved_DD,Approved_month,Approved_year,Approved_weekday,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New,Expire_date_New
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,23,6,2017,4,39 days 00:46:00,New,2017-06-23,2017-08-01,39 days,2018-06-23
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days,2018-08-01
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days,2018-08-01
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days,2018-08-01
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,29,6,2017,3,33 days 07:31:00,New,2017-06-29,2017-08-01,33 days,2018-06-29

In [26]:
loan_data['Difference_New'] / pd.Timedelta(1, unit='d')
loan_data['Difference_New'].astype('timedelta64[D]')

0        39.0
1         0.0
2         0.0
3         0.0
4        33.0
5        91.0
6        70.0
7       220.0
8       183.0
9       211.0
10      246.0
11      175.0
12      154.0
13       94.0
14       87.0
15      191.0
16      156.0
17      182.0
18      196.0
19      170.0
20      191.0
21       84.0
22       95.0
23      336.0
24      329.0
25      327.0
26      298.0
27      292.0
28      277.0
29      277.0
        ...
4406    304.0
4407    226.0
4408    166.0
4409    213.0
4410    222.0
4411    293.0
4412      0.0
4413     94.0
4414      0.0
4415     66.0
4416      0.0
4417      0.0
4418     45.0
4419     35.0
4420      0.0
4421      0.0
4422      0.0
4423      0.0
4424    259.0
4425    244.0
4426    223.0
4427    196.0
4428    158.0
4429    153.0
4430    140.0
4431    124.0
4432    111.0
4433    109.0
4434     98.0
4435    110.0
Name: Difference_New, Length: 4436, dtype: float64

In [27]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Approved_DD,Approved_month,Approved_year,Approved_weekday,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New,Expire_date_New
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,23,6,2017,4,39 days 00:46:00,New,2017-06-23,2017-08-01,39 days,2018-06-23
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days,2018-08-01
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days,2018-08-01
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days,2018-08-01
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,29,6,2017,3,33 days 07:31:00,New,2017-06-29,2017-08-01,33 days,2018-06-29

In [59]:
loan_data['Difference_New'] / pd.Timedelta(1, unit='d')
loan_data['Difference_New']=loan_data['Difference_New'].astype('timedelta64[D]')

In [60]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Last_renewal_weekday,Approved_DD,Approved_month,Approved_year,Approved_weekday,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,1,23,6,2017,4,39 days 00:46:00,New,2017-06-23,2017-08-01,39.0
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,1,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,1,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,1,1,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,1,29,6,2017,3,33 days 07:31:00,New,2017-06-29,2017-08-01,33.0

In [31]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Approved_month,Approved_year,Approved_weekday,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New,Expire_date_New,Difference_Con
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,6,2017,4,39 days 00:46:00,New,2017-06-23,2017-08-01,39 days,2018-06-23,39.0
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days,2018-08-01,0.0
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days,2018-08-01,0.0
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0 days,2018-08-01,0.0
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,6,2017,3,33 days 07:31:00,New,2017-06-29,2017-08-01,33 days,2018-06-29,33.0

In [61]:
oldest = min(loan_data.Last_renewal_date_New)

In [62]:
print(oldest)

2016-12-16

In [63]:
print(max(loan_data.Last_renewal_date_New))

2018-01-17

In [64]:
loan_data['LastDate'] = max(loan_data.Last_renewal_date_New)

In [65]:
loan_data['Difference_LastDate'] = loan_data['LastDate'] - loan_data['Last_renewal_date_New']

In [66]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Approved_month,Approved_year,Approved_weekday,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New,LastDate,Difference_LastDate
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,6,2017,4,39 days 00:46:00,New,2017-06-23,2017-08-01,39.0,2018-01-17,169 days
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169 days
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169 days
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,8,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169 days
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,6,2017,3,33 days 07:31:00,New,2017-06-29,2017-08-01,33.0,2018-01-17,169 days

### Difference Last Date is the difference between last exported date which is 2018-01-17 last renewal dates

In [67]:
loan_data['Difference_LastDate'] / pd.Timedelta(1, unit='d')
loan_data['Difference_LastDate']=loan_data['Difference_LastDate'].astype('timedelta64[D]')

In [72]:
loan_data['Difference_Last'] = loan_data['LastDate'] - loan_data['Activation_date_New']

In [73]:
loan_data['Difference_Last'] / pd.Timedelta(1, unit='d')
loan_data['Difference_Last']=loan_data['Difference_Last'].astype('timedelta64[D]')

### Difference Last is the difference between last exported date which is 2018-01-17 activation dates

In [74]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Approved_year,Approved_weekday,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New,LastDate,Difference_LastDate,Difference_Last
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,2017,4,39 days 00:46:00,New,2017-06-23,2017-08-01,39.0,2018-01-17,169.0,208.0
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,2017,3,33 days 07:31:00,New,2017-06-29,2017-08-01,33.0,2018-01-17,169.0,202.0

In [75]:
loan_data.GAP = loan_data['Difference_Last']/30

c:\users\acer\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [76]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Approved_year,Approved_weekday,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New,LastDate,Difference_LastDate,Difference_Last
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,2017,4,39 days 00:46:00,New,2017-06-23,2017-08-01,39.0,2018-01-17,169.0,208.0
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,2017,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,2017,3,33 days 07:31:00,New,2017-06-29,2017-08-01,33.0,2018-01-17,169.0,202.0

In [77]:
loan_data['GAP'] = loan_data['Difference_Last']/30

In [78]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Approved_weekday,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New,LastDate,Difference_LastDate,Difference_Last,GAP
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,4,39 days 00:46:00,New,2017-06-23,2017-08-01,39.0,2018-01-17,169.0,208.0,6.933333
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.633333
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.633333
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.633333
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,3,33 days 07:31:00,New,2017-06-29,2017-08-01,33.0,2018-01-17,169.0,202.0,6.733333

In [79]:
loan_data['GAP'] = loan_data['GAP'].apply(np.floor)

In [80]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Approved_weekday,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New,LastDate,Difference_LastDate,Difference_Last,GAP
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,4,39 days 00:46:00,New,2017-06-23,2017-08-01,39.0,2018-01-17,169.0,208.0,6.0
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,1,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,3,33 days 07:31:00,New,2017-06-29,2017-08-01,33.0,2018-01-17,169.0,202.0,6.0

In [82]:
loan_data['GAP_month'] = loan_data['GAP']*30

In [84]:
del loan_data['GAP_month']

In [85]:
loan_data['GAP_day'] = loan_data['GAP']*30

In [86]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,Difference,False,Activation_date_New,Last_renewal_date_New,Difference_New,LastDate,Difference_LastDate,Difference_Last,GAP,GAP_day
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,39 days 00:46:00,New,2017-06-23,2017-08-01,39.0,2018-01-17,169.0,208.0,6.0,180.0
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,0 days 00:00:00,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,33 days 07:31:00,New,2017-06-29,2017-08-01,33.0,2018-01-17,169.0,202.0,6.0,180.0

In [88]:
temp = loan_data['GAP_day'].apply(lambda x: pd.Timedelta(x, unit='D'))

In [91]:
temp.dtype

dtype('<m8[ns]')

In [ ]:
Last_renewal_date_New

In [92]:
loan_data['Activation_date_New'].dtype

dtype('O')

In [93]:
temp1 = loan_data['GAP_day'].apply(np.ceil).apply(lambda x: pd.Timedelta(x, unit='D'))

In [94]:
temp1.dtype

dtype('<m8[ns]')

In [95]:
temp1.head(5)

0   180 days
1   150 days
2   150 days
3   150 days
4   180 days
Name: GAP_day, dtype: timedelta64[ns]

In [96]:
loan_data['Expected_Renewal_date'] = loan_data['Activation_date_New'] + temp1

TypeError: ufunc add cannot use operands with types dtype('O') and dtype('<m8[ns]')

In [98]:
loan_data['Last_renewal_date_New'].dtype

dtype('O')

In [99]:
Loan_data['Activation_date_New'] = Loan_data['Activation_date_New'].values.astype('datetime64[D]')

NameError: name 'Loan_data' is not defined

In [100]:
loan_data['Activation_date_New'] = loan_data['Activation_date_New'].values.astype('datetime64[D]')

In [101]:
loan_data['Activation_date_New'].dtype

dtype('<M8[ns]')

In [102]:
loan_data['Expected_Renewal_date'] = loan_data['Activation_date_New'] + temp1

In [103]:
loan_data['Expected_Renewal_date'].head(5)

0   2017-12-20
1   2017-12-29
2   2017-12-29
3   2017-12-29
4   2017-12-26
Name: Expected_Renewal_date, dtype: datetime64[ns]

In [104]:
loan_data.head(5)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,False,Activation_date_New,Last_renewal_date_New,Difference_New,LastDate,Difference_LastDate,Difference_Last,GAP,GAP_day,Expected_Renewal_date
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,New,2017-06-23,2017-08-01,39.0,2018-01-17,169.0,208.0,6.0,180.0,2017-12-20
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0,2017-12-29
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0,2017-12-29
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0,2017-12-29
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,New,2017-06-29,2017-08-01,33.0,2018-01-17,169.0,202.0,6.0,180.0,2017-12-26

In [105]:
loan_data.head(10)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,False,Activation_date_New,Last_renewal_date_New,Difference_New,LastDate,Difference_LastDate,Difference_Last,GAP,GAP_day,Expected_Renewal_date
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,New,2017-06-23,2017-08-01,39.0,2018-01-17,169.0,208.0,6.0,180.0,2017-12-20
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0,2017-12-29
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0,2017-12-29
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0,2017-12-29
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,New,2017-06-29,2017-08-01,33.0,2018-01-17,169.0,202.0,6.0,180.0,2017-12-26
5,5,3.521141e+14,8,AGODI SHOWROOM IBADAN,3,2017-05-02 12:15:00,2017-08-01 19:05:00,5/2/2017 11:50,ONUH,Existing,...,New,2017-05-02,2017-08-01,91.0,2018-01-17,169.0,260.0,8.0,240.0,2017-12-28
6,6,3.521141e+14,7,MICROSTATION OTIGBA,2,2017-05-23 13:36:00,2017-08-01 19:06:00,5/23/2017 13:06,SAFA,Existing,...,New,2017-05-23,2017-08-01,70.0,2018-01-17,169.0,239.0,7.0,210.0,2017-12-19
7,7,3.521141e+14,8,AI KANO,7,2017-04-25 16:51:00,2017-12-01 01:06:00,4/21/2017 11:28,GLON,Existing,...,New,2017-04-25,2017-12-01,220.0,2018-01-17,47.0,267.0,8.0,240.0,2017-12-21
8,8,3.521141e+14,7,AI UYO,6,2017-06-01 09:23:00,2017-12-01 01:11:00,6/1/2017 8:39,JOUD,Existing,...,New,2017-06-01,2017-12-01,183.0,2018-01-17,47.0,230.0,7.0,210.0,2017-12-28
9,9,3.521141e+14,8,AI STORE ADEOLA ODEKU,5,2017-05-04 18:07:00,2017-12-01 05:22:00,5/4/2017 9:53,ADEH,New,...,New,2017-05-04,2017-12-01,211.0,2018-01-17,47.0,258.0,8.0,240.0,2017-12-30

In [106]:
loan_data.head(20)

,Unnamed: 0,ID,Months_in_contract,Store,Renewal_count,Activation_date,Last_renewal_date,Approved Date,Activator,Activation_Type,...,False,Activation_date_New,Last_renewal_date_New,Difference_New,LastDate,Difference_LastDate,Difference_Last,GAP,GAP_day,Expected_Renewal_date
0,0,3.521141e+14,6,AI STORE ADEOLA ODEKU,1,2017-06-23 10:23:00,2017-08-01 11:09:00,6/23/2017 9:47,ADEH,Existing,...,New,2017-06-23,2017-08-01,39.0,2018-01-17,169.0,208.0,6.0,180.0,2017-12-20
1,1,3.521141e+14,5,AI LAGOS IKORODU,0,2017-08-01 12:28:00,2017-08-01 12:28:00,8/1/2017 11:01,DAUM,New,...,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0,2017-12-29
2,2,3.521141e+14,5,YES MOBILE LEKKI PHASE 1,0,2017-08-01 14:14:00,2017-08-01 14:14:00,8/1/2017 13:06,NNOD,New,...,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0,2017-12-29
3,3,3.521141e+14,5,AI SHOPRITE ENUGU,0,2017-08-01 14:34:00,2017-08-01 14:34:00,8/1/2017 14:11,DAUG,Existing,...,New,2017-08-01,2017-08-01,0.0,2018-01-17,169.0,169.0,5.0,150.0,2017-12-29
4,4,3.521141e+14,6,AI UYO,1,2017-06-29 09:38:00,2017-08-01 17:09:00,6/29/2017 9:06,JOUD,New,...,New,2017-06-29,2017-08-01,33.0,2018-01-17,169.0,202.0,6.0,180.0,2017-12-26
5,5,3.521141e+14,8,AGODI SHOWROOM IBADAN,3,2017-05-02 12:15:00,2017-08-01 19:05:00,5/2/2017 11:50,ONUH,Existing,...,New,2017-05-02,2017-08-01,91.0,2018-01-17,169.0,260.0,8.0,240.0,2017-12-28
6,6,3.521141e+14,7,MICROSTATION OTIGBA,2,2017-05-23 13:36:00,2017-08-01 19:06:00,5/23/2017 13:06,SAFA,Existing,...,New,2017-05-23,2017-08-01,70.0,2018-01-17,169.0,239.0,7.0,210.0,2017-12-19
7,7,3.521141e+14,8,AI KANO,7,2017-04-25 16:51:00,2017-12-01 01:06:00,4/21/2017 11:28,GLON,Existing,...,New,2017-04-25,2017-12-01,220.0,2018-01-17,47.0,267.0,8.0,240.0,2017-12-21
8,8,3.521141e+14,7,AI UYO,6,2017-06-01 09:23:00,2017-12-01 01:11:00,6/1/2017 8:39,JOUD,Existing,...,New,2017-06-01,2017-12-01,183.0,2018-01-17,47.0,230.0,7.0,210.0,2017-12-28
9,9,3.521141e+14,8,AI STORE ADEOLA ODEKU,5,2017-05-04 18:07:00,2017-12-01 05:22:00,5/4/2017 9:53,ADEH,New,...,New,2017-05-04,2017-12-01,211.0,2018-01-17,47.0,258.0,8.0,240.0,2017-12-30
10,10,3.521141e+14,9,AI STORE RINGROAD,7,2017-03-30 15:40:00,2017-12-01 08:04:00,3/28/2017 10:18,ADOL,New,...,New,2017-03-30,2017-12-01,246.0,2018-01-17,47.0,293.0,9.0,270.0,2017-12-25
11,11,3.521141e+14,7,SL Ã‚Â MEDICAL ROAD,4,2017-06-09 13:53:00,2017-12-01 11:11:00,6/9/2017 10:49,GAOL,Existing,...,New,2017-06-09,2017-12-01,175.0,2018-01-17,47.0,222.0,7.0,210.0,2018-01-05
12,12,3.521141e+14,6,AI SILVERBIRD GALLERIA,3,2017-06-30 14:45:00,2017-12-01 11:29:00,6/30/2017 14:24,DAOK,New,...,New,2017-06-30,2017-12-01,154.0,2018-01-17,47.0,201.0,6.0,180.0,2017-12-27
13,13,3.521141e+14,4,AI LAGOS LEKKI MALLL,3,2017-08-29 15:19:00,2017-12-01 12:15:00,8/29/2017 14:23,STEG,New,...,New,2017-08-29,2017-12-01,94.0,2018-01-17,47.0,141.0,4.0,120.0,2017-12-27
14,14,3.521141e+14,4,AI SILVERBIRD GALLERIA,2,2017-09-05 13:01:00,2017-12-01 15:17:00,9/5/2017 12:24,DAOK,New,...,New,2017-09-05,2017-12-01,87.0,2018-01-17,47.0,134.0,4.0,120.0,2018-01-03
15,15,3.521141e+14,7,ONIGX WARRI,4,2017-05-24 15:26:00,2017-12-01 16:10:00,5/23/2017 17:15,NSUN,Existing,...,New,2017-05-24,2017-12-01,191.0,2018-01-17,47.0,238.0,7.0,210.0,2017-12-20
16,16,3.521141e+14,6,AI LAGOS SURULERE,5,2017-06-28 16:24:00,2017-12-01 16:14:00,6/28/2017 15:46,ESEK,New,...,New,2017-06-28,2017-12-01,156.0,2018-01-17,47.0,203.0,6.0,180.0,2017-12-25
17,17,3.521141e+14,7,AI BENIN,6,2017-06-02 18:31:00,2017-12-01 17:10:00,6/2/2017 12:16,CHPR,Existing,...,New,2017-06-02,2017-12-01,182.0,2018-01-17,47.0,229.0,7.0,210.0,2017-12-29
18,18,3.521141e+14,7,AI LAGOS LEKKI MALLL,3,2017-05-19 13:50:00,2017-12-01 18:08:00,5/19/2017 13:09,STEG,Existing,...,New,2017-05-19,2017-12-01,196.0,2018-01-17,47.0,243.0,8.0,240.0,2018-01-14
19,19,3.521141e+14,7,AI STORE ADEOLA ODEKU,4,2017-06-14 12:21:00,2017-12-01 18:11:00,6/9/2017 9:55,ADEH,New,...,New,2017-06-14,2017-12-01,170.0,2018-01-17,47.0,217.0,7.0,210.0,2018-01-10

In [108]:
loan_data['Last_renewal_date_New'].dtype

dtype('O')

In [114]:
loan_data['Last_renewal_date_New'] = loan_data['Last_renewal_date_New'].values.astype('datetime64[D]')

In [113]:
loan_data['Last_renewal_date_New'].dtype

dtype('<M8[ns]')

In [115]:
loan_data['Expected_Renewal_date'].dtype

dtype('<M8[ns]')

In [116]:
loan_data['loan_data_diff_exp_last_renew']= loan_data['Last_renewal_date_New']-loan_data['Expected_Renewal_date']

In [117]:
loan_data['loan_data_diff_exp_last_renew'].head(5)

0   -180 days
1   -150 days
2   -150 days
3   -150 days
4   -180 days
Name: loan_data_diff_exp_last_renew, dtype: timedelta64[ns]

In [118]:
loan_data['loan_data_diff_exp_last_renew'] / pd.Timedelta(1, unit='d')
loan_data['loan_data_diff_exp_last_renew'].astype('timedelta64[D]')

0      -180.0
1      -150.0
2      -150.0
3      -150.0
4      -180.0
5      -240.0
6      -210.0
7      -240.0
8      -210.0
9      -240.0
10     -270.0
11     -210.0
12     -180.0
13     -120.0
14     -120.0
15     -210.0
16     -180.0
17     -210.0
18     -240.0
19     -210.0
20     -210.0
21     -120.0
22     -120.0
23     -330.0
24     -330.0
25     -330.0
26     -300.0
27     -300.0
28     -270.0
29     -270.0
        ...
4406   -300.0
4407   -240.0
4408   -180.0
4409   -210.0
4410   -210.0
4411   -300.0
4412   -330.0
4413   -240.0
4414   -150.0
4415   -210.0
4416   -150.0
4417   -150.0
4418   -210.0
4419   -240.0
4420   -210.0
4421   -210.0
4422    -60.0
4423    -60.0
4424   -330.0
4425   -300.0
4426   -300.0
4427   -270.0
4428   -210.0
4429   -210.0
4430   -210.0
4431   -180.0
4432   -180.0
4433   -180.0
4434   -150.0
4435   -180.0
Name: loan_data_diff_exp_last_renew, Length: 4436, dtype: float64